@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
$container-width: 100%;
$site-width: 960px;
$color-pallete-1: #222f3e;
$color-pallete-2: #0984e3;
$color-pallete-3: #222f3e;
$color-pallete-4: #ffffff;
$color-pallete-5: #fafafa;
$color-pallete-6: #777777;
$color-pallete-7: #dfe6e9;
$color-pallete-8: #000000;
$color-pallete-9: #576574;
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  background-color: #f2f0f0;
  margin: 0;
  padding: 0;
}
